/* Other blocks' styles */
@import url('propic.css');
@import url('admin.css');
@import url('room.css');
@import url('navbar.css');

a[role=button] {
    margin: 0.25em 0;
}

summary:has(span.status) {
    background-color: #ffaf0377;
}

/* Dark theme */
@media only screen and (prefers-color-scheme: dark) {
    .icon {filter: invert(1);}
}

/* Mobile only */
@media only screen and ((max-width: 500px) or (hover: none)) {
    .propic-border.blurred {
        display: none;
    }
}

@media only screen and (prefers-reduced-motion) {
    .propic-border.blurred {
        display: none;
    }
}