span.nsc-room-counter {
    font-size: medium;
    color: var(--color);
}

#intentFormAction #intentText {
    text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
    div.room-actions a>span {
        display: none;
    }    
}

#room a[role=button] {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}