div.grid.people div.edit-disabled {
    pointer-events: none;
    filter: grayscale(1);
    user-select: none;
    cursor: not-allowed;
}

div.grid.people div.edit-drag>div.propic-container {
    pointer-events: none;
}

div.drag-over {
    border-radius: 1rem;
    border: 0.2rem dashed #000;
}

div.drag-forbidden {
    border-color: #c92121aa;
}

div.interactless>*{
    pointer-events: none;
}

div.room > h4 {
    user-select: none;
}

/* Dark theme */
@media only screen and (prefers-color-scheme: dark) {
    div.drag-over {
        border-radius: 1rem;
        border: 0.2rem dashed #fff;
    }
    
    div.drag-forbidden {
        border-color: #c92121aa;
    }
}