<form id="intentFormAction" method="GET" action="">
    <dialog id="modalRoomconfirm">
        <article>
            <a href="#close" aria-label="Close" class="close" onClick="javascript:this.parentElement.parentElement.removeAttribute('open')"></a>
            <h3 id="intentText">Confirm action</h3>
            <p id="intentDescription"></p>
            <div id="intentEditPanel"></div>
            <footer>
                <input id="intentSend" type="submit" value="Confirm" />
            </footer>
        </article>
    </dialog>
</form>