<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=300rem" />
		<link rel="stylesheet" href="/res/pico.min.css">
		<style>
			.propic {border-radius:100%;}
			.people img {border-radius:100%;max-width:6em;}
			.people div {text-align:center;}
			.people h3, .people p {margin:0;}
			mark {background:#0f0;}
			h1 img {max-height:1.4em;}
			.notice {padding:0.8em;border-radius:3px;background:#e53935;color:#eee;}
			.notice a {color:#eee;font-decoration:underline;}
			.container {max-width:40em}
		</style>
	</head>
	<body>
		{% block main %}{% endblock %}
	</body>
</html>
