{% extends "base.html" %}
{% block main %}
	<main class="container">
		<h1>✅ Checkin done!</h1>
		<p><strong>Remember to stick the REG number to the badge! Number: {{order.badge_id}}</strong></p>

		<h2>Other members of the same room ({{room_owner.actual_room}})</h2>
		<table>
			{% for o in roommates %}
				<tr>
					<td><a href="order?order={{o.code}}">{{o.code}}</a></td>
					<td>{{o.name}}</td>
					<td><a href="order?order={{o.code}}">{{'Checkin' if not o.checked_in else '✅'}}</a></td>
				</tr>
			{% endfor %}
		</table>
		<h3><a href="start">Checkin somebody else ➡️</a></h3>
	</main>
{% endblock %}
